/* TODO: Make it awesome */

body {
    background: url('https://p1.pxfuel.com/preview/371/344/979/buses-tourists-ahren-england.jpg') no-repeat center center fixed;
    background-size: cover;
}

header{
    display: grid;
    justify-content: center;
}

#title{
    width: 500px;
    height:100px;
    font-size: xx-large;
    border: 1px solid black;
    background-color: rgba(247, 243, 243, 0.5);
    display: flex;
    justify-content: center;
    align-items:center;
    margin:50px;
    border-radius: 25px;
}

main{
    background-color: rgba(247, 243, 243, 0.5);
}

footer{

    background-color: rgba(247, 243, 243, 0.5);

}

nav{
display: grid;

}

li{
    float: left;
    margin:10px;
    display:inline-block;
    background-color: rgba(247, 243, 243, 0.7);
    border-radius: 25px;
    border: 1px solid black;
}